#root {
  background-color: #f3f3f3;
}

header {
  position: sticky !important;
}

.main-content {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
  min-height: 90vh;
}

.logout-button {
  border: none;
  background: none;
  color: #ffffff8c;
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
}

.logout-button:hover {
  color: #ffffffbf;
}

.nav-username {
  text-decoration: underline;
}

.unpublish-article {
  background-color: #cfcfcf;
}

.comment-delete-btn {
  border: none;
  background: none;
  color: red;
}

.article-card-body {
  min-height: 250px;
}